.popup--overlay{
	border: 1px solid #eeeeee;
	z-index: 5;
	width: 50%;
	padding: 40px;
	background-color: #ffffff;
	position: absolute;
	left:calc((100% - 50%)/ 2 - 40px);
	top: 20%;

	input[type="button"]{
		margin: 0 auto;
	}
}
.overlay--dark{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 4;
	background-color: rgba(0,0,0,0.1);
}
.icon--close{
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none;
    color: #aaaaaa;
    padding: 0px 8px;
    transition: 0.4s all;

    &:hover{
	    background-color: #F6F6F6;
	    color: #999999;
    }
}