<!-- Hero -->
<section class="section__hero text--center">
	<h1>Reinventing the moodboard</h1>
	<p>Gather and collaborate on design inspiration among your team and clients, and never blind design again</p>
	<button class="button button-primary">Get started for free</button>
	<img src="/assets/images/screens.png" alt="One full width image">
</section>

<!-- Features -->
<section class="section__grid container">
	<div class="row">
		<div class="six columns">
			<h3>Design inspiration, the collaborative way</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		</div>
		<div class="six columns">
			<img src="assets/images/schemes.png" alt="Some text">
		</div>
	</div>
	<div class="row">
		<div class="six columns">
			<img src="assets/images/cells.png" alt="Some text">
		</div>
		<div class="six columns">
			<h3>Design inspiration, the collaborative way</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		</div>
	</div>
</section>

<!-- CTA -->
<section class="section--with-background">
	<div class="container">
		<div class="row">
			<div class="eight columns">
				<h4>Start collaborating on design inspiration</h4>
				<p>Sign up today with absolutely no risk, or long term contracts.</p>
				<button>Get Started For Free</button>
				<label>No credit card required, free forever!</label>
			</div>
			<div class="four columns">
				<img src="assets/images/graph.png" alt="Some mountains">
			</div>
		</div>
	</div>
</section>