section.u-full-width{
	height: 100vh;
	background-color: white;
	position: relative;

	h1, h2, h3, h4, h5{
		color: white;
		margin-bottom: 40px;
	}

	a{
		text-decoration: none;
		color: white;
		opacity: 1;
		transition: 0.4s all;

		&:hover{
			opacity: 0.7;
		}

		&.float--right{
			float: right;
		    line-height: 38px;
		    margin-right: 10px;
		}

		code{
			color: #333;
		}
	}

	.u__align-center{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
	.u__align-bottom{
		position: absolute;
		bottom: 20px;
		width: 100%;
	}
}