<div class="container" ng-if="role !== 'view'">
	<section class="row">
		<div class="eight columns">
			<h4>
				{{scheme.title}}
			</h4>
		</div>
	</section>
</div>
<section class="scheme__wide scheme__public">
	<div class="two columns">
		<div class="row scheme--no-box">
			<div class="twelve columns">
				&nbsp;
			</div>
		</div>
		<div class="row scheme--no-box scheme__row--title" ng-repeat="row in scheme.rows" ng-show="scheme.rows">
			<div class="twelve columns text--right">
				<span>
					{{row.name}}
				</span>
			</div>
		</div>
	</div>
	<div class="one column text--center">
		<div class="row scheme__title">
			<div class="twelve columns text--center">
				<a ng-click="next()" ng-disabled="nav.min >= (scheme.cols.length-8)">
					<img src="https://icongram.jgog.in/feather/arrow-left.svg?color=555555&size=14"></img>
				</a>
			</div>
		</div>
		<div class="row scheme--no-box" ng-repeat="header in scheme.headers track by $index" ng-if="$index >= nav.min && $index < (nav.min+8)">
			{{nav.min == 0 ? '&nbsp;' : '...'}}
		</div>
	</div>
	<div class="columns {{scheme.headers.size > 8 ? 'eight' : translation[scheme.headers.length]}}"" style="margin-left: 0px">
		<div class="row scheme__title" style="margin-bottom: -20px;">
			<!-- MAX EIGHT -->
			<div class="text--center {{scheme.headers.size > 8 ? 'one column' : classes[scheme.headers.length] + ' columns'}}" ng-repeat="header in scheme.headers track by $index" ng-if="$index >= nav.min && $index < (nav.min+8)">
				<span>{{header}}</span>
			</div>
		</div>
	        <div class="clearfix"></div>
		<div class="row scheme__body" ng-repeat="row in scheme.rows" ng-show="scheme.rows">
			<div 
				class="padding--15 text--center {{scheme.headers.size > 8 ? 'one column' : classes[scheme.headers.length] + ' columns'}}"
				ng-class="{'cell--disabled': cell.current.length >= cell.max}"
				ng-repeat="cell in row.cells track by $index" 
				ng-click="participate(row, cell)"
				ng-if="$index >= nav.min && $index < (nav.min+8)" >
				{{cell.current.length}}<span class="u__opacity--40"> / {{cell.max}}</span> 
			</div>
		</div>
	</div>
	<div class="one column text--center">
		<div class="row scheme__title">
			<div class="twelve columns text--center">
				<a ng-click="next()" ng-disabled="nav.min >= (scheme.cols.length-8)">
					<img src="https://icongram.jgog.in/feather/arrow-right.svg?color=555555&size=14"></img>
				</a>
			</div>
		</div>
		<div class="row scheme--no-box" ng-repeat="header in scheme.headers track by $index" ng-if="$index >= nav.min && $index < (nav.min+8)">
			{{nav.min >= (scheme.cols.length-8) ? '&nbsp;' : '...'}}
		</div>
	</div>
</section>

<skematik-sidebar position="right" title="Deelnemen" uuid="schedule-participate">
	<div class="row">
		<div class="twelve columns">
			<p>Schrijf je hieronder in voor <strong>{{active.row.name}}</strong>?<br/>Je ontvangt na inschrijven een mail waarin je je deelname kan bevestigen.</p>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns input__group">
			<label for="email">Emailadres</label>
			<input type="email" id="email" ng-model="active.data.email" placeholder="me@live.com" required ng-model-options="{allowInvalid: true}">
		</div>
		<div class="twelve columns input__group">
			<button class="button button-white" ng-click="saveParticipation()">Deelnemen</button>
		</div>
	</div>
</skematik-sidebar>

<skematik-sidebar position="right" title="Overzicht" uuid="participants-overview">
	<div class="row">
		<div class="twelve columns">
			<p>Deelnemers voor {{active.row.name}}</p>
		</div>
	</div>
	<section ng-if="active.cell.current.length > 0">
		<div class="row">
			<div class="five columns">
				<b>Email</b>
			</div>
			<div class="three columns">
				<b>Created at</b>
			</div>
			<div class="four columns">
				<b>Actions</b>
			</div>
		</div>
		<div class="row" ng-repeat="subscription in active.cell.current">
			<div class="five columns">
				{{subscription.participant}}
			</div>
			<div class="three columns">
				{{subscription.created_at}}
			</div>
			<div class="four columns">
				Some actions
			</div>
		</div>
	</section>
	<p ng-if="active.cell.current.length == 0">Geen actieve deelnemers.</p>
</section>
</skematik-sidebar>
