# Ignore weird files
.idea
.DS_Store
images/public/package-lock.json
images/api/package-lock.json

# Ignore Node mdoules
images/api/node_modules
images/public/node_modules
images/static_server/node_modules

# Ignore bower components
images/public/bower_components

# Ignore minified files
images/public/assets/css/minified
images/public/assets/js/minified
images/public/index.html
images/server/src

images/api/src/helpers/config.js
images/api/src/consumers/*/config.js