<div class="container">
	<!-- Header -->
	<section class="row">
		<div class="eight columns">
			<i class="feather icon-arrow-left text--dark-grey u__margin--12" ng-if="system.import" ng-click="system.import = false"></i>
			<h4>
				Deelnemers
			</h4>
		</div>
		<div class="four colums">
			<div class="text--right padding--10">
				<div class="u__dropdown">
					<a class="u__dropdowntoggle" ng-click="toggleDropdown($event)">
						<i class="feather icon-plus-square icon--medium text--dark-grey u__margin--12" style="margin-right: 0px"></i>
					</a>
					<div class="u__dropdownmenu u__dropdownmenu--boxed u__dropdownmenu--white">
						<ul>
							<li ng-click="addParticipant($event)">
								<a>Nieuwe deelnemer</a>
							</li>
							<li ng-click="system.import = true;toggleDropdown($event)">
								<a>Bulk import</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="u__dropdown">
					<a class="u__dropdowntoggle" ng-click="toggleDropdown($event)">
						<i class="feather icon-filter icon--medium text--dark-grey u__margin--12"></i>
					</a>
					<div class="u__dropdownmenu u__dropdownmenu--boxed u__dropdownmenu--white">
						<ul>
							<li class="u__dropdownmenu--header">Account</li>
							<li ng-click="filter.inactive = !filter.inactive">
								<i class="feather icon-check icon--medium text--green u__no-margin" ng-if="filter.inactive"></i>
								Inactive
							</li>
							<li ng-click="filter.active = !filter.active">
								<i class="feather icon-check icon--medium text--green u__no-margin" ng-if="filter.active"></i>
								Active
							</li>
							<li class="u__dropdownmenu--header">Rollen</li>
							<li ng-repeat="role in system.roles" ng-click="toggleRole(filter.roles, role)">
								<i class="feather icon-check icon--medium text--green u__no-margin" ng-if="inRoles(filter.roles, role)"></i>
								{{role.type}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Actual participants -->
	<section class="row table--light" ng-if="!system.import" ng-class="{'table--light-focus': system.editMode}">
		<div class="twelve columns row table__row table__row--header">
			<div class="four columns">
				Emailadres
			</div>
			<div class="two columns">
				Status
			</div>
			<div class="three columns">
				Rollen
			</div>
			<div class="three columns">
				Acties
			</div>
		</div>
		<div class="twelve columns row table__row" ng-repeat="participant in participants" ng-if="filterParticipants(participant)" ng-class="{'table__row--inactive': participant.status < 1}">
			<div class="four columns text-overflow--ellipsis">
				<span ng-if="participant.status > -1">{{participant.mail}}</span>
			</div>
			<div class="two columns">
				<span ng-if="participant.status == 1">Actief</span>
				<span ng-if="participant.status == 0">Inactief</span>
			</div>
			<div class="three columns">
				<span ng-repeat="role in participant.roles" class="text--lowercase">
					{{role.type}}
					<span ng-if="$index < participant.roles.length-1">, </span>
				</span>
				<span ng-if="participant.roles.length == 0">
					<i>Geen rollen</i>
				</span>
			</div>
			<div class="three columns text--right">
				<ul class="list__horizontal" style="margin: -7px">
					<li class="u__no-margin">
						<div class="u__dropdown">
							<a class="u__dropdowntoggle" ng-click="toggleDropdown($event)">
								<i class="feather icon-users icon--medium text--dark-grey u__margin--12" style="line-height: 36px"></i>
							</a>
							<div class="u__dropdownmenu u__dropdownmenu--boxed u__dropdownmenu--white">
								<ul>
									<li class="u__dropdownmenu--header">Toggle role</li>
									<li ng-repeat="role in system.roles" ng-click="editRoles(participant, role)">
										<i class="feather icon-check icon--medium text--green u__no-margin" ng-if="inRoles(participant.roles, role)"></i>
										{{role.type}}
									</li>
								</ul>
							</div>
						</div>
					</li>
					<!-- Participant is active, deactivate it -->
					<li class="u__no-margin" ng-if="participant.status == 1">
						<a ng-click="editStatus(participant, 0)" title="Deelnemer deactiveren">
							<i class="feather icon-pause-circle icon--medium text--dark-grey u__margin--12" style="line-height: 36px"></i>
						</a>
					</li>
					<!-- Participant is active, edit it -->
					<li class="u__no-margin" ng-if="participant.status == 1">
						<a ng-click="editParticipant($index)" title="Deelnemer bewerken">
							<i class="feather icon-edit-2 icon--medium text--dark-grey u__margin--12" style="line-height: 36px"></i>
						</a>
					</li>
					<!-- Participant is inactive, activate it -->
					<li class="u__no-margin" ng-if="participant.status == 0">
						<a ng-click="editStatus(participant, 1)" title="Deelnemer activeren">
							<i class="feather icon-play-circle icon--medium text--dark-grey u__margin--12" style="line-height: 36px"></i>
						</a>
					</li>
					<!-- Participant is inactive, remove it -->
					<li class="u__no-margin" ng-if="participant.status == 0">
						<a ng-click="deleteParticipant($index)" title="Deelnemer verwijderen">
							<i class="feather icon-minus-circle icon--medium text--dark-grey u__margin--12" style="line-height: 36px"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- Import view -->
	<section class="row" ng-if="system.import">
		Hier kan je deelnemers importeren, volgens volgend schema (in CSV):
		<ul class="vertical-list--bordered">
			<li class="row">
				<div class="five columns">mail</div>
				<div class="four columns">name</div>
				<div class="three columns">status</div>
			</li>
			<li class="row" style="padding-bottom: 10px">
				<div class="five columns">example@live.com,</div>
				<div class="four columns">Frank Franklin,</div>
				<div class="three columns">0 (or 1, you know, for active)</div>
			</li>
		</ul>
		<input type="file" id="csv-file">
		<button ng-click="submitCSV()">Import CSV</button>
	</section>
</div>
<skematik-sidebar position="right" title="{{system.edit.index > -1 ? 'Deelnemer wijzigen' : 'Nieuwe deelnemer'}}" uuid="edit-participant">
	<div class="row">
		<div class="twelve columns wizard">
			<div class="input__group">
				<label for="mail">Mail</label>
				<input class="u-full-width input--with-feedback" type="email" id="mail" ng-model="system.edit.user.mail" placeholder="mail@live.com" required />
				<span class="input__feedback" data-text-invalid="Da's geen geldig e-mailadres" data-text-empty="Wat is het e-mailadres?" data-text-valid="Check."></span>
			</div>
			<div class="input__group">
				<label for="status">Status</label>
				<select ng-options="i.value as i.label for i in system.status" ng-model="system.edit.user.status">
				</select>
			</div>
			<div class="input__group">
				<label>Roles</label>
				<div class="button__group button__group--white">
					<a href="#" ng-repeat="role in system.roles" ng-click="toggleRole(system.edit.user.roles, role)" ng-class="{'button--active': inRoles(system.edit.user.roles, role)}">
						{{role.type}}
					</a>
				</div>
			</div>
			<div class="input__group">
				<button class="button button-white" ng-click="saveParticipant()">{{system.edit.index > -1 ? 'Wijziging opslaan' : 'Deelnemer bewaren'}}</button>
			</div>
		</div>
	</div>
</skematik-sidebar>