.scheme__public{
	.scheme__title{
		background-color: #ffffff;

		.column, .columns{
			font-weight: 600;
		}
	}
	.scheme__body{
		.column{
			cursor: default;


			&.cell--disabled{
				color: #cccccc;
			}

			&:first-of-type{
				padding-left: 10px;
			}
			&:not(:first-of-type):not(.cell--disabled){
				cursor: pointer;
			}
		}
	}
}