.scheme__public{
	.column{
		margin-left: 5px;
	}
	.scheme--no-box{
		min-height: 60px;
		margin-bottom: 0px;
	}
	.scheme__title{
		a{
			border-color: #ddd;
			padding: 0px;

			img{
				margin-top: 5px;
			}
		}

		.column, .columns{
			text-transform: uppercase;
			color: #B8BDC1;
			font-size: 12px;
			font-weight: 600;
			margin-bottom: 2rem;
		}
	}
	.scheme__row--title{
		text-transform: uppercase;
		color: #B8BDC1;
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 2rem;
		min-height: 72px;
		line-height: 70px;
		box-sizing: content-box;
	    padding: 10px 10px 0px 10px;
	}
	.row:not(.scheme__title):not(.scheme--no-box){
		background-color: #fff;
	    border: 1px solid #eee;
	    padding: 10px 10px 0px 10px;
	    box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
	}
	.scheme__body{
		.column, .columns{
			cursor: default;
			min-height: 70px;

			&.cell--active{
				&:before {
					content: '';
					background-color: darken(#f9f9f9, 4);
					border-radius: 50%;
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transform: scale(0.001, 0.001);
					animation: click-wave 0.8s ease-out;
				}

				span{
					background: url(https://icongr.am/feather/check.svg?color=19b319&size=20) no-repeat center center;
					width: 30px;
					height: 30px;
					display: inline-block;
					transition: 0.4s all;
				}

				&:hover{
					span{
						background-image: url(https://icongr.am/feather/minus-circle.svg?color=555555&size=20)
					}
				}
			}

			&.cell--disabled{
				color: #cccccc;
			}

			&:first-of-type{
				padding-left: 10px;
			}
			&:not(:first-of-type):not(.cell--disabled){
				cursor: pointer;
			}
		}
	}
}

@keyframes click-wave {
  50% {
    transform: scale(1.5, 2.5);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

