<div class="container">
	<!-- Header -->
	<section class="row">
		<div class="eight columns">
			<h4>
				Gebruikers
				<div class="u__dropdown">
					<a class="u__dropdowntoggle" ng-click="toggleDropdown($event)">
						<img src="https://icongr.am/feather/plus-square.svg?color=999999">
					</a>
					<div class="u__dropdownmenu u__dropdownmenu--boxed u__dropdownmenu--white">
						<ul>
							<li>Nieuwe gebruiker</li>
							<li>Bulk import</li>
						</ul>
					</div>
				</div>
			</h4>
		</div>
		<div class="four colums">
			<div class="text--right padding--10">
				<i>Filter:</i>	
				<a href="#" class="link--small link--no-underline" ng-class="{'link--active': filter.inactive, 'link--inactive': !filter.inactive}" ng-click="filter.inactive = !filter.inactive">Inactive</a>
				/
				<a href="#" class="link--small link--no-underline" ng-class="{'link--active': filter.active, 'link--inactive': !filter.active}" ng-click="filter.active = !filter.active">Active</a>
			</div>
		</div>
	</section>

	<!-- Actual users -->
	<section class="row table--light">
		<div class="twelve columns row table__row table__row--header">
			<div class="four columns">
				Emailadres
			</div>
			<div class="two columns">
				Status
			</div>
			<div class="four columns">
				Rollen
			</div>
			<div class="two columns">
				Acties
			</div>
		</div>
		<div class="twelve columns row table__row" ng-repeat="user in users" ng-if="(user.status && filter.active) || (!user.status && filter.inactive)">
			<div class="four columns">
				{{user.mail}}
			</div>
			<div class="two columns">
				<span ng-if="user.status">Actief</span>
				<span ng-if="!user.status">Inactief</span>
			</div>
			<div class="four columns">
				<span ng-repeat="role in user.roles">
					{{role}}
					<span ng-if="$index < user.roles.length-1">, </span>
				</span>
			</div>
			<div class="two columns">
				<ul class="list__horizontal" style="margin: -7px">
					<li class="u__no-margin">
						<div class="u__dropdown">
							<a class="u__dropdowntoggle" ng-click="toggleDropdown($event)">
								<img src="https://icongr.am/feather/users.svg?color=999999">
							</a>
							<div class="u__dropdownmenu u__dropdownmenu--boxed u__dropdownmenu--white">
								<ul>
									<li class="u__dropdownmenu--header">Toggle role</li>
									<li ng-repeat="role in system.roles">
										<img src="https://icongr.am/feather/check.svg?color=19b319" class="u__no-margin" ng-if="inRoles(user, role)">
										{{role}}
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="u__no-margin" ng-if="user.status == 1">
						<a>
							<img src="https://icongr.am/feather/pause-circle.svg?color=999999" ng-if="!dropdown['add-roles-dropdown']">
						</a>
					</li>
					<li class="u__no-margin" ng-if="user.status == 0">
						<a>
							<img src="https://icongr.am/feather/minus-circle.svg?color=999999" ng-if="!dropdown['add-roles-dropdown']">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>