<section class="u-full-width u-max-full-width">
	<div class="sidebar sidebar--left sidebar--secondary sidebar--no-animation">
		<section class="sidebar__header">
			<div class="container">
				<div class="row">
					<div class="twelve columns">
						<a class="float--left" title="Back to home" ui-sref="fe.landing" href="/">
							<img src="https://icongr.am/feather/arrow-left.svg?color=ffffff" alt="Terugkeren">
						</a>
						<h5>Registreren</h5>	
						<span class="wizard__step-counter" style="margin-top: -30px;margin-right: -30px">Step {{wizard.step.active}}/{{wizard.step.max}}</span>		
					</div>
				</div>
			</div>
		</section>
		<section class="u__align-center wizard">
			<div class="container wizard__step" ng-show="wizard.step.active == 1">
				<div class="row">
					<div class="twelve columns">
						<h5 class="wizard__step-title">Gegevens organisatie</h5>
					</div>
					<div class="twelve columns">
						<p>Some help for the people</p>
					</div>
					<div class="twelve columns">
						<label for="organisation">Naam organisatie</label>
						<input class="u-full-width input--with-feedback" type="text" ng-model="new.organisation.name" pattern=".{3,}" required placeholder="Naam organisatie" id="organisation">
						<span class="input__feedback" data-text-invalid="Minimum 3 characters" data-text-empty="Pick a good name!" data-text-valid="Great, looks perfect!"></span>
						<label for="contactinfo">Emailadres contactpersoon</label>
						<input class="u-full-width input--with-feedback" required type="email" ng-model="new.account.mail" placeholder="Emailadres contactpersoon" id="contactinfo">
						<span class="input__feedback" data-text-invalid="That's not a valid email" data-text-empty="What's the primary mailaddress?" data-text-valid="Solid pick!"></span>
					</div>
					<div class="twelve columns">
						<button class="button-white button wizard__next" ng-click="nextStep()">Next!</button>
					</div>
				</div>
			</div>
			<div class="container wizard__step" ng-show="wizard.step.active == 2">
				<div class="row">
					<div class="twelve columns">
						<h5 class="wizard__step-title">Beveilig jouw account</h5>
					</div>
					<div class="twelve columns">
						<p>Kies een sterk wachtwoord (minimum 5 karakters) om je account te beveiligen</p>
					</div>
					<div class="twelve columns">
						<label for="password">Wachtwoord</label>
						<input class="u-full-width input--with-feedback" type="password" ng-model="new.account.password" placeholder="Mijn veilig wachtwoord" id="password" pattern=".{5,}" required>
						<span class="input__feedback" data-text-invalid="You call this a password?" data-text-empty="Type your strongest password" data-text-valid="That'll do!"></span>
					</div>
					<div class="twelve columns">
						<a class="float--left" title="Back" ng-click="prevStep()">
							<img src="https://icongr.am/feather/arrow-left.svg?color=ffffff" alt="Terugkeren">
						</a>
						<button class="button-white button wizard__next" ng-click="register([new.account.password])">Registreren</button>
					</div>
				</div>
			</div>
			<div class="container wizard__step" ng-show="wizard.step.active == 3">
				<div class="row">
					<div class="twelve columns">
						<h5 class="wizard__step-title">Organisatie aangemaakt</h5>
					</div>
					<div class="twelve columns">
						<p>Hoera! Je account, en daarbij horende organisatie, is aangemaakt. Check meteen je mail voor de bevestigingslink, waarmee je voor een eerste keer kan aanmelden.<br/>Welkom!</p>
					</div>
				</div>
			</div>
		</section>
		<section class="u__align-bottom">
			<div class="container">
				<div class="row">
					<div class="twelve columns">
						<i>Al ingeschreven? <a ui-sref="fe.login" href="/login"><b>Meld je aan</b></a></i>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="three columns">&nbsp;</div>
	<div class="eight columns register__container">
		<figure class="register__image">
			<img src="https://cdn.dribbble.com/users/879147/screenshots/3624550/signup.jpg" alt="Some text">
		</figure>
		<h3>Create an account</h3>
		<p>It's the best start to use Skematik. Swear to God, because without one, there's no way to create or maintain schedules, actually.. Who would've thought?</p>
	</div>
</section>
