<div class="container">
	<section class="row help-box help-box--info">
		<div class="one column">
			<i class="feather icon-plus-square icon--large text--blue u__margin--12" style="display: inline-block;"></i>
		</div>
		<div class="eleven columns">
			<b>Here's a tip!</b>
			<p>You can create new scheme's on the fly, by clicking 'Add a new scheme' below or <a ui-sref="be.scheme({ schemeUuid: 'new' })" href="backend/scheme/new">click here</a>. Good luck!</p>
		</div>	
	</section>
	<section class="row">
		<div class="eight columns">
			<h4>My schemes</h4>
		</div>
		<div class="four colums">
			<div class="text--right padding--10">
				<div class="u__dropdown">
					<a class="u__dropdowntoggle" ng-click="toggleDropdown($event)">
						<i class="feather icon-filter icon--medium text--dark-grey u__margin--12"></i>
					</a>
					<div class="u__dropdownmenu u__dropdownmenu--boxed u__dropdownmenu--white">
						<ul>
							<li class="u__dropdownmenu--header">Filter</li>
							<li ng-click="filter.unpublished = !filter.unpublished">
								<i class="feather icon-check icon--medium text--green u__no-margin" ng-if="filter.unpublished"></i>
								Unpublished
							</li>
							<li ng-click="filter.published = !filter.published">
								<i class="feather icon-check icon--medium text--green u__no-margin" ng-if="filter.published"></i>
								Published
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="row">
		<div ng-repeat="scheme in schemes" ng-if="(scheme.published && filter.published) || (!scheme.published && filter.unpublished)">
	        <div class="clearfix" ng-if="$index % 3 == 0"></div>
			<div class="four columns box--white text--center scheme__box">
				<a ui-sref="be.scheme({ schemeUuid: scheme.uuid })" href="backend/scheme/{{scheme.uuid}}" class="padding--40">
					<i class="feather icon-grid icon--medium text--green" ng-if="scheme.currentParticipants <= scheme.maxParticipants*0.5"></i>
					<i class="feather icon-grid icon--medium text--orange" ng-if="scheme.currentParticipants > scheme.maxParticipants*0.5 && scheme.currentParticipants <= scheme.maxParticipants*0.75"></i>
					<i class="feather icon-grid icon--medium text--red" ng-if="scheme.currentParticipants > scheme.maxParticipants*0.75 && scheme.currentParticipants < scheme.maxParticipants"></i>
					<i class="feather icon-grid icon--medium text--grey" ng-if="scheme.currentParticipants >= scheme.maxParticipants"></i>
					<h6>{{scheme.title}}</h6>
					<div class="row row--close">
						<div class="eight columns text--left">Participants:</div>
						<div class="four columns text--right"><b>{{scheme.currentParticipants}}</b>/<i>{{scheme.maxParticipants}}</i></div>
					</div>
					<div class="row row--close">
						<div class="eight columns text--left">Published:</div>
						<div class="four columns text--right"><i>{{scheme.published == 1 ? 'Yes' : 'No'}}</i></div>
					</div>
				</a>
			</div>
		</div>

		<!-- Add a new scheme -->
		<div class="four columns box--white text--center scheme__box">
			<a ui-sref="be.scheme({ schemeUuid: 'new' })" href="backend/scheme/new" class="padding--40">
				<i class="feather icon-plus-square icon--medium text--grey"></i>
				<h6>Add a new scheme</h6>
			</a>
		</div>
	</section>
</div>