<div class="container">
	<section class="row">
		<h4>My schemes</h4>
		<div class="four columns box--white text--center scheme__box" ng-repeat="scheme in schemes">
			<a ui-sref="be.scheme({ schemeUuid: scheme.uuid })" href="backend/scheme/{{scheme.uuid}}" class="padding--40">
				<img src="https://icongram.jgog.in/feather/grid.svg?color=dddddd"></img>
				<h6>{{scheme.title}}</h6>
				<div class="row row--close">
					<div class="eight columns text--left">Participants:</div>
					<div class="four columns text--right"><i>fake</i></div>
				</div>
			</a>
		</div>

		<!-- Add a new scheme -->
		<div class="four columns box--white text--center scheme__box">
			<a ui-sref="be.scheme({ schemeUuid: 'new' })" href="backend/scheme/new" class="padding--40">
				<img src="https://icongram.jgog.in/feather/plus-square.svg?color=dddddd"></img>
				<h6>Add a new scheme</h6>
			</a>
		</div>
	</section>
</div>