<div class="container">
	<section class="row">
		<div class="seven columns">
			<h4>
				<input type="text" ng-model="scheme.title" placeholder="a nice title" />
			</h4>
		</div>
		<div class="five columns text--right padding--10">				
			<a href="#" class="link--small link--no-underline link--disabled" style="margin-right: 20px" ng-if="!isEditing">Export</a>
			<input type="submit" ng-click="toggleEditMode()" class="button-secondary" value="Edit scheme" ng-if="!isEditing" />

			<a href="#" class="link--small link--no-underline link--active" style="margin-right: 20px" ng-if="isEditing" ng-click="discardChanges()">Discard changes</a>
			<input type="submit" ng-click="saveScheme()" class="button-primary" value="Save scheme" ng-if="isEditing" />
		</div>
	</section>
</div>
<section class="u--full-width scheme__wide" ng-if="isEditing">
	<div class="row box--white padding--15 scheme__title">
		<div class="two columns">
			Function name
		</div>
		<div class="one column text--center">
			<div class="button__group">
				<a ng-click="previous()" ng-disabled="nav.min==0">
					<img src="https://icongram.jgog.in/feather/chevron-left.svg?color=555555&size=14" alt="earlier"></img>
				</a>
				<a ng-click="addColumn('before')">
					Add column
				</a>
			</div>
		</div>
		<!-- MAX EIGHT -->
		<div class="one column text--center" ng-repeat="header in scheme.headers track by $index" ng-if="$index >= nav.min && $index < (nav.min+8)">
			<input type="text" placeholder="Function name" ng-model="scheme.headers[$index]" class="text--center" />
			<a href="#" ng-click="deleteColumn($index)" class="icon__action" tabindex="-1">
				<img src="https://icongram.jgog.in/feather/minus-circle.svg?color=666666&size=20"></img>
			</a>
		</div>
		<div class="one column text--center">
			<div class="button__group">
				<a ng-click="addColumn('after')">
					Add column
				</a>
				<a ng-click="next()" ng-disabled="nav.min >= (scheme.headers.length-8)">
					<img src="https://icongram.jgog.in/feather/chevron-right.svg?color=555555&size=14"></img>
				</a>
			</div>
		</div>
	</div>
	<div class="row scheme__body" ng-repeat="row in scheme.rows">
		<div class="two columns box--white padding--15">
			<input type="text" placeholder="Function name" ng-model="row.name" />
			<a href="#" ng-click="deleteRow($index)" class="icon__action" tabindex="-1">
				<img src="https://icongram.jgog.in/feather/minus-circle.svg?color=666666&size=20"></img>
			</a>
		</div>
		<div class="one column text--center">
			{{nav.min == 0 ? '&nbsp;' : '...'}}
		</div>
		<div 
			class="one column padding--15 box--bg-white" 
			ng-class="{'box--info': cell.max, 'text--center': !cell.max}"
			ng-repeat="cell in row.cells track by $index" 
			ng-if="$index >= nav.min && $index < (nav.min+8)" >
			<img src="https://icongram.jgog.in/feather/plus-circle.svg?color=dddddd&size=20" ng-click="addSpace($parent.$parent.$parent.$index, $index, false)" ng-if="!cell.max" style="margin-top: 10px;cursor:pointer"></img>

			<input type="number" ng-model="row.cells[$index].max" ng-if="cell.max" placeholder="Free spaces">
			<a href="#" ng-click="addSpace($parent.$parent.$parent.$index, $index, true)" class="icon__action" ng-if="cell.max" tabindex="-1">
				<img src="https://icongram.jgog.in/feather/minus-circle.svg?color=666666&size=20"></img>
			</a>
		</div>
		<div class="one column text--center">
			{{nav.min >= (scheme.headers.length-8) ? '&nbsp;' : '...'}}
		</div>
	</div>
	<div class="row">
		<div class="two columns padding--15">
			<button ng-click="addRow()">Add row</button>
		</div>
	</div>
</section>

<!-- Dirty fix, please do this better -->
<skematik-table uuid="scheme.uuid" ng-if="!isEditing" role="view"></skematik-table>