.sidebar{
	position: fixed;
	top: 0px;
	overflow-x: hidden;
	overflow-y:scroll;
	height: 100vh;
	width: 500px;
	z-index: 10;
	background-color: white;
	border-right: #33C3F0;
	display: block;

	/* Default text color */
	color: #333;

	&.sidebar--secondary{
		background-color: #33C3F0;
		color: white;

		input, select{
			background-color: #2bb7e2;
			border: none;
			color: white;

			&:active, &:focus{
				box-shadow: inset 0 0 5px rgba(0,0,0,0.05);
			}

			&::-webkit-input-placeholder{
				color: rgba(255,255,255,0.5);
				font-style: italic;
			}
			&::-moz-placeholder{
				color: rgba(255,255,255,0.5);
				font-style: italic;
			}
			&:-ms-input-placeholder{
				color: rgba(255,255,255,0.5);
				font-style: italic;
			}
			&:-moz-placeholder{
				color: rgba(255,255,255,0.5);
				font-style: italic;
			}
		}
		label{
			color: white
		}

		.sidebar__header{
			h5{
				color: white;
			}
		}
	}
	&.sidebar--right{
		right: 0px;
		box-shadow: -2px 0px 5px rgba(0,0,0,0.05);
		border-left: 1px solid #dddddd;
		animation: 0.2s ease-out 0s 1 wideSlideRight;
	}
	&.sidebar--left{
		left: 0px;
		box-shadow: -2px 0px 5px rgba(0,0,0,0.05);
		animation: 0.2s ease-out 0s 1 wideSlideLeft;
	}

	.sidebar__header{
		margin-bottom: 15px;
		padding: 17px;
		position: relative;

		h5{
			font-weight: 500;
			font-size: 17px;
			text-align: center;
			margin-bottom: 0px;
			color: #555555;
		}
		a{
			position: absolute;
			border-radius: 50%;
			padding: 4px 0px 1px 0px;
			background-color: rgba(255,255,255,0);
			transition: 0.4s all;
			top: -5px;

			&.float--left{
				left: -50px;
			}
			&.float--right{
				right: -50px;
			}

			&:hover{
				background-color: rgba(255,255,255,0.2);
			}
		}
		.row{
			margin-bottom: 0px;
		}
	}
}